//responsiveness
&.vzb-large {
  &.vzb-dialog-expand-true {
    .vzb-dialogs-dialog {
      &.vzb-sidebar {
        &[data-dlg="presets"] {
          flex: none;
          overflow: visible;

          .vzb-dialog-modal {
            overflow: visible;
          }

          .vzb-dialog-title{
            display: none;
          }

        }
      }
    }
  }
}

.vzb-dialogs-dialog {
  &[data-dlg="presets"] {

      .vzb-form {
        height: 100px;
        position: relative;
      }

      .vzb-radio-svg-group {
        border: none;
        padding: 0;
      }

      .vzb-radio-svg-item {
        display: block;
        position: absolute;
        box-sizing: border-box;
        background-color: #fff;
        text-align: center;
      }

      label {
        white-space: initial;
        border: 1px solid #888;
        box-sizing: border-box;
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        //padding: 10px 10px 10px 10px;
        opacity: 0.6;
        cursor: pointer;
        background-color: $vzb-color-grey-lightest;
        transition: all .5s ease-in-out;
        &:hover, &:focus, &:active {
          border: 1px solid #000;
          opacity: 1;
        }
        path {
          stroke: #000;
          fill: #FFF;
        }
      }

      input[type="radio"] {
        display: none;
      }

      input[type="radio"]:active ~ label {
        opacity: 1;
      }

      input[type="radio"]:checked ~ label {
        opacity: 1;
        border: 2px solid #000;
        background-color: $vzb-gapminder-main;
      }

      .vzb-dialog-addgeo {
        &:hover {
          text-decoration: underline;
        }
        cursor: pointer;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .vzb-dialog-search{
        ul {
          position: absolute;
          z-index: 4;
          background: white;
          width: 90%;
          list-style-type: none;
          padding-left: 10px;
          padding-bottom: 20px;
          padding-top: 0px;
          margin-top: 0px;
          border-radius: 4px;
          border: 1px solid $vzb-color-grey-light;
          overflow-x: hidden;
          overflow-y: auto;

          li {
            cursor: pointer;
            padding-top: 5px;
            padding-bottom: 5px;
            .vzb-dialog-isness {
              font-size: $vzb-font-size-tiny;
              background-color: $vzb-color-accent-yellow;
              border: 1px solid $vzb-color-grey-light;
              border-radius: 2px;
              padding: 1px 3px 1px 3px;
              margin-left: 4px;
            }
          }
          li:hover {
            background-color: $vzb-color-grey-light;
          }
        }
      }
  }
}








