@import "../node_modules/bourbon/core/_bourbon.scss";
@import "../node_modules/@vizabi/shared-components/src/styles/vizabi-old/_mixins.scss";
@import "../node_modules/@vizabi/shared-components/src/styles/vizabi-old/_common.scss";
@import "../node_modules/@vizabi/shared-components/src/styles/vizabi-old/_chart.scss";

.vzb-tool {
  visibility: visible !important;
  $vzb-mc-margin: 10px;
  $vzb-mc-margin-axis: 60px;
  $vzb-mc-date-size: 15em;

  .vzb-facet {
    .vzb-facet-inner:not(.vzb-facet-row-first) {
      .vzb-mc-title,
      .vzb-mc-axis-info {
        visibility: hidden;
      }
    }
    .vzb-facet-inner:not(.vzb-facet-row-last) {
      .vzb-mc-axis-x .tick text {visibility: hidden;}
      .vzb-mc-decorations .vzb-mc-x-axis-group,
      .vzb-mc-axis-x-title {
        visibility: hidden;
      }
      .vzb-mc-ultrarich .vzb-billy-text {
        visibility: hidden;
      }
    }
  }

  .vzb-mountainchart {
    @extend %vzb-chart-wrapper;
    transform: translateZ(0);

    .vzb-mountainchart-svg {
      @extend %vzb-chart-svg;

      .vzb-mc-eventarea {
        fill: none;
        pointer-events: all;
      }

      .vzb-mc-mountain {
        stroke: $vzb-color-white;
        stroke-opacity: .5;
        stroke-width: 1px;
        cursor: pointer;
        &.vzb-selected {
          stroke: #000;
        }
      }

      .vzb-mc-probe text {
        dominant-baseline: hanging;
        fill: $vzb-color-primary;
        pointer-events: none;
        &.vzb-mc-probe-extremepoverty {
          font-variant: small-caps;
          letter-spacing: .15em;
          opacity: .7;
        }
      }

      .vzb-mc-probe .vzb-mc-probe-value-head {
        text-anchor: middle;
      }

      .vzb-mc-probe .vzb-mc-probe-value-ul,
      .vzb-mc-probe .vzb-mc-probe-value-dl {
        text-anchor: end;
      }

      .vzb-mc-probe .vzb-mc-probe-value-ur,
      .vzb-mc-probe .vzb-mc-probe-value-dr {
        text-anchor: start;
      }

      .vzb-mc-probe .vzb-shadow {
        @extend %vzb-chart-label-shadow;
      }

      .vzb-mc-probe line {
        stroke: $vzb-color-grey;
        stroke-dasharray: 5 5;
        pointer-events: none;
      }

      .vzb-mc-ultrarich {
        .vzb-billy-text {
          fill: $vzb-color-primary;
          text-anchor: end;
        }
        .vzb-billy-upperbox,
        .vzb-billy-lowerbox,
        .vzb-billy-arc {
          fill: transparent;
          pointer-events: none;
          stroke: $vzb-color-primary;
        }
        .vzb-billy-arc{
          marker-end: url(#triangle);
        }
      }

      .vzb-mc-mountains-labels text,
      .vzb-mc-mountains-labels circle {
        cursor: pointer;
        fill: $vzb-color-primary;
      }

      .vzb-mc-mountains-labels .vzb-mc-label-text {
        @include rtl {
          direction: rtl;
          unicode-bidi: embed;
        }
      }

      .vzb-mc-mountains-labels .vzb-mc-label-shadow {
        @extend %vzb-chart-label-shadow;
      }

      .vzb-mc-mountains-labels .vzb-highlight .vzb-mc-label-shadow {
        stroke: $vzb-color-accent-yellow;
      }

      .vzb-mc-mountains-labels .vzb-mc-label .vzb-mc-label-x-text {
        transition: opacity 200ms linear;
        cursor: pointer;
        fill: $vzb-color-primary;
        text-anchor: middle;
        dominant-baseline: middle;
        pointer-events: none;
        font-size: .9em;
        stroke: none;
        &.vzb-revert-color {
          fill: $vzb-color-primary;
        }
      }

      .vzb-mc-mountains-labels .vzb-mc-label .vzb-mc-label-x-icon {
        transition: opacity 200ms linear;
        fill: $vzb-color-white;
        pointer-events: none;
      }

      .vzb-mc-mountains-labels .vzb-mc-label .vzb-mc-label-x {
        transition: opacity 200ms linear;
        cursor: pointer;
        pointer-events: all;
        fill: $vzb-color-primary;
        stroke: $vzb-color-white;
        stroke-width: 2px;
        &.vzb-revert-color {
          fill: $vzb-color-white;
          stroke: $vzb-color-primary;
        }
      }

      .vzb-mc-axis-x,
      .vzb-mc-axis-y {
        @extend %vzb-chart-axis;
        pointer-events: none;
      }

      .vzb-mc-title, .vzb-mc-subtitle {
        @extend %vzb-chart-axis-title;
        @include rtl {
          text {
            direction: rtl;
            unicode-bidi: embed;
          }
        }
      }
      
      .vzb-mc-title text {
        dominant-baseline: hanging;
        pointer-events: none;
      }

      .vzb-mc-closecross {
        cursor: pointer;
        text-anchor: end;
        fill: $vzb-color-primary-darkest;
      }

      .vzb-mc-axis-x-title {
        @extend %vzb-chart-axis-title;
        text-anchor: end;
        pointer-events: none;
      }

      .vzb-mc-axis-info {
        @extend %vzb-chart-info;
      }

      .vzb-mc-decorations {
        .vzb-mc-x-axis-groups {
          text {
            fill: $vzb-color-grey;
            dominant-baseline: central;
            text-transform: uppercase;
          }

          line {
            stroke: $vzb-color-grey;
          }

          rect {
            fill: $vzb-color-grey;
            opacity: .2;
          }
        }
      }

      .vzb-mc-line {
        fill: none;
        stroke: $vzb-color-grey;
        stroke-width: 1px;
      }

      .vzb-mc-tooltip {
        @extend %vzb-chart-tooltip;
        text {
          @include rtl {
            direction: rtl;
            unicode-bidi: embed;
          }
          text-anchor: middle;
        }
      }
    }
  }
  &.vzb-large {

    .vzb-mountainchart {

      .vzb-mc-axis-x-title,
      .vzb-mc-title, .vzb-mc-subtitle, .vzb-mc-closecross {
        @extend %vzb-chart-axis-title-large;
      }

      .vzb-shadow,
      .vzb-mc-label-shadow {
        @extend %vzb-chart-label-shadow-large;
      }

      .vzb-mc-axis-x,
      .vzb-mc-mountains-labels,
      .vzb-mc-probe,
      .vzb-mc-tooltip,
      .vzb-mc-axis-info {
        @extend %vzb-chart-ticks-large;
      }
      .vzb-mc-probe-value-head {
        font-size: $vzb-font-size-tiny;
      }
      .vzb-mc-ultrarich {
        text {
          font-size: $vzb-font-size-regular;
        }
      }
    }
  }

  &.vzb-medium {

    .vzb-mountainchart {

      .vzb-mc-axis-x-title,
      .vzb-mc-title, .vzb-mc-subtitle, .vzb-mc-closecross {
        @extend %vzb-chart-axis-title-medium;
      }

      .vzb-shadow,
      .vzb-mc-label-shadow {
        @extend %vzb-chart-label-shadow-medium;
      }

      .vzb-mc-axis-x,
      .vzb-mc-mountains-labels,
      .vzb-mc-probe,
      .vzb-mc-tooltip,
      .vzb-mc-axis-info {
        @extend %vzb-chart-ticks-medium;
      }
      .vzb-mc-probe-value-head {
        font-size: $vzb-font-size-tiny;
      }
      .vzb-mc-ultrarich {
        text {
          font-size: $vzb-font-size-small;
        }
      }
    }
  }
  &.vzb-small {

    .vzb-mountainchart {

      .vzb-mc-axis-x-title,
      .vzb-mc-title, .vzb-mc-subtitle, .vzb-mc-closecross {
        @extend %vzb-chart-axis-title-small;
      }

      .vzb-shadow,
      .vzb-mc-label-shadow {
        @extend %vzb-chart-label-shadow-small;
      }

      .vzb-mc-axis-x,
      .vzb-mc-mountains-labels,
      .vzb-mc-probe,
      .vzb-mc-tooltip,
      .vzb-mc-axis-info {
        @extend %vzb-chart-ticks-small;
      }
      .vzb-mc-probe-value-head {
        font-size: $vzb-font-size-tiny;
      }
      .vzb-mc-ultrarich {
        text {
          font-size: $vzb-font-size-tiny;
        }
      }
    }
  }
  &.vzb-presentation {

    .vzb-mountainchart {

      .vzb-mc-axis-x,
      .vzb-mc-axis-y,
      .vzb-mc-probe,
      .vzb-mc-mountains-labels,
      .vzb-mc-labels,
      .vzb-mc-tooltip {
        text {
          font-size: $vzb-font-size-larger;
        }
        .vzb-mc-probe-value-head {
          font-size: $vzb-font-size-regular;
        }
      }
      .vzb-mc-ultrarich {
        text {
          font-size: $vzb-font-size-medium;
        }
      }
    }

    &.vzb-medium {
      .vzb-mc-probe, .vzb-mc-ultrarich {
        text {
          font-size: $vzb-font-size-medium;
        }
        .vzb-mc-probe-value-head {
          font-size: $vzb-font-size-small;
        }
      }
      .vzb-mc-ultrarich {
        text {
          font-size: $vzb-font-size-small;
        }
      }
    }
  }

  @import 'dialogs/stack/_stack.scss';
  @import 'dialogs/povertyline/_povertyline.scss';
  @import 'dialogs/billy/_billy.scss';
  @import 'dialogs/presets/_presets.scss';
}
